/* Resets */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
}

:root {
  font-size: 62.5%; /* 1 rem = 10px */
  --text: #333333;
  --text-secondary: #666666;
  --gray: #fbfbfb;
  --orange: #FF5E00;
  --orange-secondary: #ff7b33;
}

body {
  margin-bottom: 100px;
}

body::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: white;        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: #969696;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
 /* border: 3px solid #979797;  /* creates padding around scroll thumb */
}

a {
  text-decoration: none;
  color: var(--text);
}

img {
  display: block;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 1650px;
  margin: 0 auto;
}

.header {
  background: var(--gray);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.menu {
  display: flex;
}

.menu li {
  margin-left: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.menu li a:hover {
  color: var(--orange-secondary);
}

#flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-image: url("assets/aviao.jpg");
  background-size: cover;
  background-position: center center;
  max-width: 100%;
  min-height: calc(100vh - 102px);
  
}

.flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.flex > div {
  flex: 1 1 200px;
  margin: 10px;
}

.card-1 {
  display: flex;
  background-color: #ff813c;
  /*ax-width: 250px;*/
  height: 200px;
  margin: 0 auto;
  margin-left: 200px;
 
}

.card-2{
  display: flex;
  background-color: var(--orange-secondary);
  height: 200px;
  margin: 0 auto;
 
}

.card-3 {
  display: flex;
  background-color: var(--orange);
  margin-right: 200px;
  height: 200px;
	margin: 0 auto;

}

.card-1 p {
  color: white;

}

.card-2 p {
  color: white;

}

.card-3 p {
  color: white;

}

.home-text h1 {
  font-size: 5rem;
  color: white;
  margin-left: 200px;
  
}

.home-text p {
  font-size: 2rem;
  color: white;
  margin-left: 210px;
}

